<header style="position: sticky; top: 0">
  <div
    style="
      background-color: black;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      height: 75px;
    "
  >
    <h1 style="text-align: center; font-size: 1.5rem">Odin File Uploader</h1>
    <a
      href="/log-out"
      style="
        color: white;
        align-self: flex-end;
        margin-right: 10px;
        text-decoration: underline;
      "
      >Log out</a
    >
  </div>
</header>
